<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 offset-md-4 p-5 mt-5 shadow rounded" style="background-color: rgb(247, 247, 247); ">
      <h1 id="logout-title" class="text-center"></h1>
    </div>
  </div>
</div>
<script src="js/logout.js"></script>
