<div class="container p-5">
  <div class="row">
    <div class="col-sm-12 col-md-4 p-5 mb-5 d-grid" style="background-color: rgb(247, 247, 247); ">
      <img id="avatar" src="" style="height: 50px; width: auto; border-radius: 2px;"></img>
      <p id="username"></p>
      <p id="email"></p>
      <button id="logout" class="btn btn-primary">Logout</button>
    </div>
  </div>
</div>
<script src="js/home.js"></script>